$color-light: #efefef;
$color-light-mute: rgb(212, 212, 212);
$color-dark: rgb(57, 57, 57);
$color-mauve: #c2aff0;
$color-latte: #fefae9;
$color-papaya: #faedcd;
$color-beige-green: #e9edc9;
$color-tea-green: #ccd5ae;
$color-dark-green: rgb(47, 51, 36);
$color-buff: #d4a373;
$color-buff-mute: #c08f5d;
$color-brown-light: rgb(147, 93, 51);
